<!-- 게시글 작성 폼 조회 -->
<!DOCTYPE html>
<html>
  
    <%- include('../common/header.ejs') %>

    <body>

      <%- include('../common/nav.ejs', {isToken : true}) %>

      <div class="container overflow-hidden text-center p-5">
          <div class="mb-3">
              <input type="text" name="title" class="form-control" id="titleInput" placeholder="제목을 입력하세요">
          </div>
          <div class="mb-3">
              <textarea name="content" class="form-control" id="contentInput" placeholder="내용을 입력하세요" rows="10"></textarea>
          </div>
      </div>

      <div class="mb-3 p-2">
        <button type="submit" class="btn btn-success" onclick= "back()"> 뒤로가기 </button>
        <button type="button" class="btn btn-secondary" onclick="create()"> 작성 완료 </button>
      </div>

    <%- include('../common/footer.ejs') %>

    <script>
            if ('<%= result.result %>'== 'false') {
                window.history.back();
            } 

      function back(){
        window.history.back(); // 이전 페이지로 이동
      }

      async function create(){ // 작성한 게시글 저장
        try{
          const title = document.getElementById('titleInput').value
          const content = document.getElementById('contentInput').value

          const response = await fetch('/board/form', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                    title: title, // 저장 될 내용
                    content : content
                })
          })

          const result = await response.json()

          alert(result.result+'게시글 저장 결과 : ' + result.message)

          if (result.result === true){
            location.assign(`/board/`) // 게시글 리스트 조회 페이지로 이동
          } else{
            back()
          }

        } catch (err){
          console.log('에러 발생:', err)
          alter(err)
        } 
      }
             
    </script>
  </body>
</html>
