<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="/">
            <img src="/miffyLogo.png" alt="Logo" width="45" height="35" class="d-inline-block align-text-top">
            m!ffyBlog
        </a>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li><a class="nav-link" href="/board">게시글 목록</a></li>
            </ul>
        </div>
  
        <nav class="navbar bg-body-tertiary ms-auto">
            <% if (isToken) { %>
                <!-- 토큰이 있을 때 보여질 내용 -->
                <a href="/mypage">
                    <button class="btn btn-outline-success me-2" type="button">마이페이지</button>
                </a>
                    <button class="btn btn-outline-success me-2" type="button" onclick="logout()">로그아웃</button>
            <% } else { %>
                <!-- 토큰이 없을 때 보여질 내용 -->
                <a href="/auth/login">
                    <button class="btn btn-outline-success me-2" type="button">로그인</button>
                </a>
            <% } %>
        </nav>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
    </div>
  </nav>
  <script>
      async function logout(){
          const response = await fetch('/auth/logout');
          const result = await response.json();
          window.location.reload(); // 새로고침
      }
  </script>